            <!-- Modal -->
            <div id="bookAddModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Add a Book</h3>
                </div>
                <div class="modal-body">
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url 'add' %}" method="post" enctype="multipart/form-data">
                        <fieldset>
                            {% csrf_token %}
                            <label>{{ form.txt_book.label }}</label>
                            {{ form.txt_book }}
                            <span class="help-block"><em>{{ form.txt_book.help_text }}</em></span>
                            <span class="text-error">{{ form.txt_book.errors }}</span>
                            <span class="text-error">{{ form.non_field_errors }}</span>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" onclick="return upload();">Upload</button>
                </div>
                <script>
                    function upload() {
                        alert('testing upload from modal...');
                        return false;
                    }
                </script>
            </div>
            <!-- End Modal -->
