            <!-- Modal -->
            <div id="bookAddModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Add a Book</h3>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add' %}" method="post" enctype="multipart/form-data" class="form-horizontal" data-async data-target="#response" id="uploadForm">
                        <fieldset>
                            {% csrf_token %}
                            <label><strong>{{ form.txt_book.label }}</strong></label>
                            {{ form.txt_book }}
                            <span class="help-block"><em>{{ form.txt_book.help_text }}</em></span>
                            <br>
                            <div id="response">&nbsp;</div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" type="submit" form="uploadForm">Upload</button>
                </div>
            </div>
            <!-- End Modal -->
