{% include 'books/header.html' %}
{% include 'books/nav.html' %}

            <!-- Container -->
            <div class="container">

                <div class="row">
                    <div class="span2"></div>
                    <div class="span8">
                        <!-- Upload form. Note enctype attribute! -->
                        <form action="{% url 'add' %}" method="post" enctype="multipart/form-data">
                            <fieldset>
                                {% csrf_token %}
                                <label>{{ form.txt_book.label }}</label>
                                {{ form.txt_book }}
                                <span class="help-block"><em>{{ form.txt_book.help_text }}</em></span>
                                <span class="text-error">{{ form.txt_book.errors }}</span>
                                <span class="text-error">{{ form.non_field_errors }}</span>
                                <button type="submit" class="btn">Upload</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="span2"></div>
                </div>

            </div>
            <!-- End Container -->

{% include 'books/footer.html' %}
