{% include 'books/header.html' %}
{% include 'books/nav.html' %}

            <!-- Container -->
            <div class="container">

                <div class="row">
                    <div class="span1"></div>
                    <div class="span10">
                        <div class="row">
                            <span class="lead">
                                {{ book.title }}
                            </span><br>
                            {{ book.author }}, <em>{{ book.published }}
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                            <script type="text/javascript">
                                google.load("visualization", "1", {packages:["corechart"]});
                                google.setOnLoadCallback(drawChart);

                                function drawChart() {
                                    var data = google.visualization.arrayToDataTable([
                                        ['', 'Unique Words', 'Total Words'],
                                        ['', {{ book.get_unique_words }}, {{ book.get_total_words }}]
                                    ]);

                                    var options = {
                                        'title': 'Unique vs Total Words',
                                        'legend':'none',
                                        'chartArea':{left:0, top:20, width:"100%", height:"150px"},
                                        'colors':['#dc3912', '#3366cc'],
                                        'hAxis':{logScale:false}
                                    };

                                    var barChart = new google.visualization.BarChart(document.getElementById('barchart_div'));
                                    barChart.draw(data, options);
                                }
                            </script>
                            <div id="barchart_div"></div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="row">{{ book.get_word_cloud }}</div>
                    </div>
                    <div class="span1"></div>
                </div>

            </div>
            <!-- End Container -->

{% include 'books/footer.html' %}
