{% include 'books/header.html' %}
{% include 'books/nav.html' %}

            <!-- Container -->
            <div class="container">

                <div class="row">
                    <div class="span1"></div>
                    <div class="span10">
                        <div class="row">
                            <span class="lead">
                                {{ book.title }}
                            </span><br>
                            {{ book.author }}, <em>{{ book.published }}
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <table class="table" width="100%">
                                <caption>Unique vs Total Words</caption>
                                <tr>
                                    <td width="{{ percentage_u }}%" style="color: #ffffff; background-color: tomato"><em>{{ book.get_unique_words }}</em></td>
                                    <td width="{{ percentage_t }}%" style="color: #ffffff; background-color: midnightblue"><em>{{ book.get_total_words }}</em></td>
                                </tr>
                            </table>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">{{ cloud }}</div>
                    </div>
                    <div class="span1"></div>
                </div>

            </div>
            <!-- End Container -->

{% include 'books/footer.html' %}
