{% include 'books/header.html' %}
{% include 'books/nav.html' %}

            <!-- Container -->
            <div class="container">

                <div class="page-header">
                    {% if books %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in books %}
                            <tr>
                                <td><a href="/books/{{ b.id }}/">{{ b.title }}</a></td>
                                <td>{{ b.author }}</td>
                                <td>{{ b.published }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-info">Nothing found in the database.</p>
                    {% endif %}
                </div>

            </div>
            <!-- End Container -->

{% include 'books/footer.html' %}
