<!DOCTYPE html>
<html class=" js no-touch svg inlinesvg svgclippaths no-ie8compat" lang="en">
    <head>
        <title>book stats</title>
        <meta charset="utf-8">
        <meta content="width=device-width" name="viewport">
        {% load staticfiles %}
        <link  href="{% static 'foundation/css/normalize.css' %}" rel="stylesheet">
        <link  href="{% static 'foundation/css/foundation.min.css' %}" rel="stylesheet">
        <script src="{% static 'foundation/js/vendor/custom.modernizr.js' %}"></script>
        <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
        <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
        <script src="{% static 'foundation/js/vendor/jquery.stickyFooter.js' %}"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="top-bar">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1>
                        <a href="/books/">Book Stats</a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="/books/add/">Add a Book</a></li>
                    <li class="divider"></li>
                </ul>
            </section>
        </nav>
        <!-- End Navigation -->

        <!-- Header -->
        <div class="row">
            <div class="large-12 columns">
                <table class="large-12 display" id="book_list">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in books %}
                        <tr>
                            <td><a href="/books/{{ b.id }}/">{{ b.title }}</a></td>
                            <td>{{ b.author }}</td>
                            <td>{{ b.published }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Header -->

        <!-- Footer -->
        <footer class="row">
            <div class="large-12 columns"><hr />
                <div class="row">

                    <div class="large-6 columns">
                        <p>&copy; 2013 Imran Shahid. All rights reserved.</p>
                    </div>

                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li><a href="http://github.com/ishahid/stats">View on GitHub</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        <script>
            $(document).foundation();
        </script>
        <!-- End Footer -->
    </body>
</html>
